@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'League Spartan', sans-serif;
}

@media (min-width: 768px) {
    a {
        position: relative;
    }
      
    a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform: scaleX(0);
        transform-origin: top bottom;
        transition: transform 0.3s ease;
    }
    
    a:hover::before {
        transform: scaleX(1);
    }
}